@font-face {
    font-family: 'Graphik LCG';
    src: url('fonts/GraphikLCG-Semibold.eot');
    src: url('fonts/GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/GraphikLCG-Semibold.woff2') format('woff2'),
        url('fonts/GraphikLCG-Semibold.woff') format('woff'),
        url('fonts/GraphikLCG-Semibold.ttf') format('truetype'),
        url('fonts/GraphikLCG-Semibold.svg#GraphikLCG-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('fonts/GraphikLCG-Regular.eot');
    src: url('fonts/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/GraphikLCG-Regular.woff2') format('woff2'),
        url('fonts/GraphikLCG-Regular.woff') format('woff'),
        url('fonts/GraphikLCG-Regular.ttf') format('truetype'),
        url('fonts/GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Graphik LCG', sans-serif;
}

.container {
    width: 1290px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

/*Header*/

.header {
    padding: 25px 0;
}

.logo {
    width: 130px;
    margin-right: 51px;
    justify-content: flex-start;
    align-self: center;
}

.nav {
    justify-content: flex-start;
    align-self: center;
}

.nav-inner {
    display: flex;
}

.nav-inner_link {
    justify-content: flex-start;
    margin-right: 57px;
}

.nav-inner_link:last-child {
    margin-right: 0;
}
