@font-face {
    font-family: 'Graphik LCG';
    src: url('fonts/GraphikLCG-Semibold.eot');
    src: url('fonts/GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/GraphikLCG-Semibold.woff2') format('woff2'),
        url('fonts/GraphikLCG-Semibold.woff') format('woff'),
        url('fonts/GraphikLCG-Semibold.ttf') format('truetype'),
        url('fonts/GraphikLCG-Semibold.svg#GraphikLCG-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('fonts/GraphikLCG-Regular.eot');
    src: url('fonts/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/GraphikLCG-Regular.woff2') format('woff2'),
        url('fonts/GraphikLCG-Regular.woff') format('woff'),
        url('fonts/GraphikLCG-Regular.ttf') format('truetype'),
        url('fonts/GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Graphik LCG', sans-serif;
}

.container {
    width: 1290px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.container_left {
    display: flex;
}

.container_right {
    display: flex;
}

.header {
    padding: 25px 0;
    border-bottom: 1px solid #CCCCCC;
}

.logo {
    width: 130px;
    margin-right: 51px;
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-inner {
    display: flex;
    justify-content: flex-start;
}

.nav-inner_link {
    align-items: center;
    margin-right: 57px;

}

.nav-inner_link:last-child {
    margin-right: 0;
}

.nav-inner_link>a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    line-height: 20px
}

.nav-inner_link>a:hover {
    color: #FF6336;
}

.login {
    display: flex;
}

.btn {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0;
    width: 120px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Graphik LCG', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    color: #000;
    margin-right: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #FF6336;
    color: #fff;
}

.btn_orange {
    background-color: #FF6336;
    color: #fff;
    margin-right: 0;
}

.btn_orange:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #000;
}

/*main*/
/*section*/

.section {
    padding-top: 129px;
    padding-bottom: 172px;
}

.section-first {
    flex-direction: column;
    max-width: 550px;
}

.section-title {
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 50px;
}

.section-subtitle {
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 50px;
    max-width: 470px;
}

.login-section_btn {
    flex-direction: row-reverse;
    justify-content: start;
    margin-bottom: 25px;
}

.btn-section {
    line-height: 60px;
    margin-right: 10px;
    width: 160px;
}

.btn-section:first-child {
    margin-right: 0;
}

.section-img_big {
    width: 740px;
}

.section-subtitle_share {
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    max-width: 470px;
}

/*section-brand*/

.section-brand {
    background-color: #FF9C7D;
    padding-top: 108px;
    padding-bottom: 104px;
    margin-bottom: 90px;
}

.container-section-brand {
    flex-direction: column;
}

.section-title_second {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
}

.section-brand-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

/*section-control*/

.section-control {
    padding-bottom: 250px;
    display: flex;
}

.section-control:last-child {
    padding-bottom: 150px;
}

.section-control-inner {
    align-self: center;
    padding-right: 165px;
}

.section-desc {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-desc_link {
    color: #000000;
}

.section_link {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.container-section-control_revers {
    flex-direction: row-reverse;
}

.section-control-inner_margin {
    margin-left: 138px;
    padding-right: 70px;
}

.section-img {
    width: 632px;
}

/*section-main-info*/

.section-main-info {
    background-color: #FFF8E4;
    padding-top: 120px;
    padding-bottom: 147px;
}

.section-title_second:nth-last-child(2) {
    max-width: 1290px;
}

.section-main-info_inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 291px;
    align-items: center;
    margin-top: 75px;
    margin-right: 50px;
}

.container-section-main-info_colum {
    flex-direction: column;
}

.container-section-main-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-main-info_link {
    width: 160px;
}

.section-main-info_title {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    padding-top: 23px;
    padding-bottom: 23px;
}