@font-face {
    font-family: 'Graphik LCG';
    src: url('fonts/GraphikLCG-Semibold.eot');
    src: url('fonts/GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/GraphikLCG-Semibold.woff2') format('woff2'),
        url('fonts/GraphikLCG-Semibold.woff') format('woff'),
        url('fonts/GraphikLCG-Semibold.ttf') format('truetype'),
        url('fonts/GraphikLCG-Semibold.svg#GraphikLCG-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('fonts/GraphikLCG-Regular.eot');
    src: url('fonts/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/GraphikLCG-Regular.woff2') format('woff2'),
        url('fonts/GraphikLCG-Regular.woff') format('woff'),
        url('fonts/GraphikLCG-Regular.ttf') format('truetype'),
        url('fonts/GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Graphik LCG', sans-serif;
}

.container {
    width: 1290px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.container_left {
    display: flex;
}

.container_right {

}

.header {
    padding: 25px 0;
}

.logo {
    width: 130px;
    margin-right: 51px;
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-inner {
    display: flex;
    justify-content: flex-start;
}

.nav-inner_link {
    align-items: center;
    margin-right: 57px;

}

.nav-inner_link:last-child {
    margin-right: 0;
}

.nav-inner_link>a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    line-height: 20px
}

.nav-inner_link>a:hover {
    color: #FF6336;
}

.login {
    display: flex;
}

.btn {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0;
    width: 120px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Graphik LCG', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    color: #000;
    margin-right: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #FF6336;
    color: #fff;
}

.btn_orange {
    background-color: #FF6336;
    color: #fff;
    margin-right: 0;
}

.btn_orange:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #000;
}